.list-wrapper {
	width: 100vw;
	height: auto;
	min-height: 100vh;
}

.wrap {
	display: flex;
}

.content {
	display: flex;

	margin: 70px auto 0 auto;
}

.list {

}

.filter {
	width: 200px;
	height: 500px;

	padding: 15px;

	box-shadow: 0 4px #1c1c16;
	border-radius: 10px;
	background-color: #333336;
}

.card {
	display: flex;

	width: 450px;

	align-content: space-between;
	align-items: center;
	padding: 15px;
	margin: 0 20px 20px 0;

	border-radius: 10px;
	background: #333336;
	box-shadow: 0 4px #1f1f1f;
}

.card-title {
	display: flex;

	align-self: flex-start;
	align-items: center;
	padding: 0 0 10px 0;

	font-size: 1em;
}

.card-tag {
	display: flex;

	align-self: flex-end;
	margin: 5px 3px 0 0;
	padding: 3px 10px;

	font-size: 0.82em;
	font-weight: lighter;
	color: #bcbcbc;

	background-color: #444446;
	border-radius: 10px;
}

.card-button {
	display: flex;

	width: 60px;
	height: 60px;

	margin-left: auto;
	align-items: center;

	text-align: center;
}

.tag-wrapper {
	display: flex;
}

.card-basketball {
	background-image: linear-gradient(to right, rgba(51, 51, 54, 1), rgba(51, 51, 54, 1), rgba(51, 51, 54, 0.8)), url('../img/card_basketball.jpg');background-size: cover;
}

.card-volleyball {
	background-image: linear-gradient(to right, rgba(51, 51, 54, 1), rgba(51, 51, 54, 1), rgba(51, 51, 54, 0.7)), url('../img/card_volleyball.jpg');background-size: cover;
}

.card-football {
	background-image: linear-gradient(to right, rgba(51, 51, 54, 1), rgba(51, 51, 54, 1), rgba(51, 51, 54, 0.7)), url('../img/card_foottball.jpg');background-size: cover;
}

.card-button-mobile-wrapper {
	display: none;
	text-align: center;
}

.card-button-mobile {
	display: flex;
	width: 100%;
	text-decoration: none;
	font-size: 15px;
	font-weight: lighter;
	color: #fff;
	padding: 5px;
	background: #155D69;
	border: 1px solid #176978;
	box-shadow: 0px 1px 0px #062C33;
	border-radius: 5px;
	justify-content: center;
}

.card-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* xs (<=543px) */
@media (max-width: 575px) {
	.filter {display: none;}
	.content {
		width: 100vw;
	}
	.list {
		padding: 0 10px;
		width: available;
	}
	.card {
		height: 95px;
		width: 100%;
		margin: 0 0 20px 0;
		padding: 10px 0;
	}
	.card-button {
		display: none;
	}
	.card-tag {
		padding: 3px 10px;
		font-size: 0.7em;
	}
	.card-tag {
		white-space: nowrap;
	}
	.card-button-mobile-wrapper {
		display: flex;
		margin-top: 10px;
		text-align: center;
	}
	.card-button-mobile {
		display: flex;
		text-align: center;
	}
	.card-wrapper {
		padding: 0 10px;
		width: inherit;
	}

}

/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) {

}

/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* xl (>=1200) */
@media (min-width: 1200px) {

}