body {
  background-color: #DDEBFB; /* #CFE6FF */
}

.navbar {
  background-color: #2863C9;
}

.btn {
  background-color: #337DFA;
  color: white;
}

.badge {
  background-color: #8FC5FF;
}

.card-header {
  background-color: ;
}

.wrapper {
  padding-top: 15px;
}

.menu {
  padding-bottom: 15px;
}

.menu_item{
  padding-bottom: 15px;
}
