@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #222222;
    font-family: 'Roboto', sans-serif;
}

/* Навигационная панель */
header {
    width: 100%;
    height: 50px;
    background: #333336;
    color: #979797;
    display: flex;
}

/* Оберточный блок */
.nav {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.nav ul {
    display: flex;
    margin: 0 auto;
    width: 480px;
    justify-content: space-between;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    font-weight: lighter;
    color: #979797;
}

.nav ul li a:hover {
    color: #ffffff;
    transition: 0.25s;
}

/* Логотип */
.logo {
    text-decoration: none;
    color: #979797;
    font-size: 18px;
}
/* Оформление для логотипа */
.color-text-white {
    color: #ffffff;
}
/* Оформление для логотипа */
.color-text-cyan {
    color: #00A7CB;
}

/* Ссылка на профиль в панели навигации */
.nav_profile {
    text-decoration: none;
    color: #979797;
}


/* Обложка */
.collapse {
    width: auto;
    height: 94vh;
    background: url(../img/bg.png) no-repeat center;
    background-size: cover;

}

