@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;

    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -webkit-tap-highlight-color: transparent !important; /* For some Androids */
}

body {
    overflow-x: hidden !important;

    background-color: #222;
    color: #fff;
}

.hide {
    display: none;
}

.mark {
    background-color: red;
}

.feedback {
    position: fixed;
    z-index: 1000;

    width: 100%;
    height: 100%;

    background: #2f2f2f;
}

.feedback-wrapper {
    display: flex;
    align-items: center;
    width: 450px;
    height: 100%;


    margin: 0 auto;
}

.feedback-form-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #bcbcbc;
    font-weight: lighter;
    padding: 0 25px;
}

.feedback-input {
    height: 25px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #2f2f2f;
    border: 0;
    border-bottom: 1px solid #555556;
}

.btn-close {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 1.2em;
    color: #f1f1f1;
    margin: 25px 25px 0 0;
}

nav {
    display: flex;
    position: absolute;

    height: 50px;
    width: 100vw;

    font-size: 0.8em;
    color: #999996;

    background-color: #333336;
}

nav .container {
    display: flex;
    align-items: center;
}

.navbar {
    display: inline-flex;
    z-index:10;
    margin: 0 auto;
}

.navbar_show {
    display: block !important;
    position: absolute !important;
    top: 0;
    left: 0;
    margin-top: 50px;
    width: 100%;
    z-index: 10;

    border-top: 1px solid #2f2f2f;
    background-color: #333336;
}

.navbar-item {
    margin: 0 20px;
    list-style: none;
    font-weight: lighter;
}

.navbar-item-dropdown {
    margin: 7px 10px;
    list-style: none;
}

.navbar-profile-hide {
    display: none;
    margin: 7px 10px;
    list-style: none;
}

.navbar-profile-show {
    display: block;
    margin: 7px 10px;
    list-style: none;
}

.container {
    position: relative;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

nav .container ul li a {
    text-decoration: none;

    color: #999996;
}

nav .container ul li a:hover {
    transition: 0.25s;

    color: #ffffff;
}

.logo {
    position: absolute;
    margin-left: 10px;
    left: 0;
    z-index:10;
}

.profile {
    position: absolute;
    margin-right: 10px;
    right: 0;
    z-index:10;
}

.container span a {
    text-decoration: none;

    color: #999996;
}

.container span a:hover {
    transition: 0.25s;
    color: #fff !important;
}

.btn-nav-toggle {
    position: absolute;
    display: none;
    margin-right: 15px;
    right: 0;
    z-index:10;
}

.fa-bars:hover {
    color: #ffffff !important;
}

button {
    border: 0;
    background-color: #333336;
}

.welcome {
    height: 100vh;
    width: 100vw;

    background-image: url("../img/bg.png");
    background-position: bottom;
    background-size: cover;
}

.button-holder {
    display: flex;
    align-items: center;
    text-align: center;
}

.wrap-button {
    float: left;
}

.h1 {
    font-size: 3em;
    font-weight: bold;
}

.h3 {
    font-size: 1.8em;
    font-weight: bold;
}

.h6 {
    font-size: 1.13em;
    margin: 0 0 60px 0;
}

.button-start {
    padding: 30px 70px;
    text-decoration: none;

    color: #fff;
    background: #155D69;
    border: 1px solid #176978;
    box-shadow: 0px 1px 0px #062C33,
    0px 0px 25px rgba(7, 15, 16, 0.2);
    border-radius: 100px;
    transition: 0.4s;
}

.button-start:hover {
    background: #17626d;
    box-shadow: 0px 2px 0px #062C33,
    0px 0px 45px rgba(7, 15, 16, 0.71);
    transition: 0.4s;
}

.card-preview {
    height: 400px;
    width: 100vw;
}

.liner {
    position: absolute;
    top: 100vh;
    left: 0;

    display: block;
    margin: 13px 0 0 0;
    height: 10px;
    width: 50vw;

    background-color: #333;
}

.card-holder {
    text-align: left;
    background-color: #222;
}




/* xs (<=543px) */
@media (max-width: 575px) {
    .feedback-wrapper {
        width: 100vw;
    }
    .btn-close {
        margin: 15px 20px 0 0;
    }
    nav {
        font-size: 0.9em;
        position: fixed;
        z-index: 100;
    }
    .container {
        width: 100%;
        padding: 0;
    }
    .navbar {display: none !important;}
    .profile {display: none !important;}
    .btn-nav-toggle {display: block; !important;}
    .wrap-button {margin: 0 auto;}
    .h1 {font-size: 2.2em;}
    .h6 {font-size: 0.84em; font-weight: lighter; margin: 0px 0 40px 0;}
    .button-start {
        padding: 20px 30px;
        font-size: 1em;}
    .card-holder { text-align: center; }
    .card-holder p { display: block; padding: 0 10px; margin: 0 auto; }
    .card {
        float: left;
        width: 95vw;
        height: 250px;
        margin: 20px 2.5vw;

    }
}
    

/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) {
    .container {width: 550px;}
    .wrap-button {margin: 0 auto;}
    .card-holder { text-align: left; }
}

/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {
    .container {width: 700px;}
}

/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {width: 800px;}
}

/* xl (>=1200) */
@media (min-width: 1200px) {
    .container {width: 1000px;}
}

 /* For some Androids */