@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

body {
    overflow-x: hidden;
}

nav {
    position: absolute !important;
    width: 100vw;
    height: 50px;
    padding: 0px;
    margin: 0px;
    background: #333336;
}

.container {
    background: #1c7430;
}

.welcome {
    background: #0b2e13;
}

.container-fluid {
    height: 100vh;
    background: #0c5460;
}

.padding-of-nav {
    padding-top: 50px;
}

.marker {
    background: #6f42c1 !important;
}



::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}